<footer class="bg-dark w-100 " style="bottom:0;position:relative">
    <div class="container pb-1 pb-lg-5">
        <div class="row content-space-t-2">
            <div class="col-lg-3 mb-7 mb-lg-0">
                <div class="mb-5">
                    <a class="navbar-brand" href="./index.html" aria-label="Space">
                        <img class="navbar-brand-logo" src="./assets/svg/logos/logo-white.svg" alt="Image Description">
                    </a>
                </div>
                <p class="link-light">  Cairo University</p>

            </div>
        </div>
 
         @*  
        <div class="row mb-7">
            <div class="col-sm mb-3 mb-sm-0">
                <!-- Socials -->
            <ul class="list-inline list-separator list-separator-light mb-0">
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">Privacy &amp; Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">Site Map</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">Help</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">Your Account</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="link-sm link-light" href="#">About</a>
                    </li>
                <!-- End Socials -->
            </div>

            <div class="col-sm-auto">
                                <ul class="list-inline list-separator list-separator-light mb-0">

                <li class="list-inline-item">
                    <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                        <i class="bi-github"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <!-- Button Group -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                            <span class="d-flex align-items-center">
                                <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                                <span>English (US)</span>
                            </span>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                            <a class="dropdown-item d-flex align-items-center active" href="#">
                                <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16" />
                                <span>English (US)</span>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <img class="avatar avatar-xss avatar-circle me-2" src="./assets/vendor/flag-icon-css/flags/1x1/eg.svg" alt="Image description" width="16" />
                                <span>العربية</span>
                            </a>
                        </div>
                    </div>                </ul>

                    <!-- End Button Group -->
                </li>
                </ul>
                <!-- End Socials -->
            </div>
        </div>*@

        <!-- Copyright -->
        <div class="w-md-85 text-lg-center mx-lg-auto">
            <p class="text-white-50 small">&copy; Student Plus. 2023 Cairo Egypt. All rights reserved.</p>
        </div>
        <!-- End Copyright -->
    </div>
</footer>