 <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container">
      <nav class="navbar-nav-wrap">
        <!-- Default Logo -->
        <a class="navbar-brand" href="./ " aria-label="Front">
          <img class="navbar-brand-logo" src="./assets/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Default Logo -->
      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Content -->
    <div class="container text-center">
      <div class="mb-3">
        <img class="img-fluid" src="./assets/svg/illustrations/oc-error.svg" alt="Image Description" style="width: 30rem;">
      </div>

      <div class="mb-4">
        <p class="fs-4 mb-0">Oops! Looks like you followed a bad link.</p>
        <p class="fs-4">If you think this is a problem with our platrofm, please <a class="link" href="#">contact us</a>.</p>
      </div>

      <a class="btn btn-primary" href="./ ">Go back home</a>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="position-absolute start-0 end-0 bottom-0">
    <div class="container pb-5 content-space-b-sm-1">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm mb-3 mb-sm-0">
          <p class="small mb-0">&copy; StudentPlus. 2023 All rights.</p>
        </div>

        <div class="col-sm-auto">
          <!-- Socials -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-facebook"></i>
              </a>
            </li>
          
            <li class="list-inline-item">
              <a class="btn btn-soft-secondary btn-xs btn-icon" href="#">
                <i class="bi-github"></i>
              </a>
            </li>
          </ul>
          <!-- End Socials -->
        </div>
      </div>
    </div>
  </footer>