<div style="overflow-y:scroll" class='  position-fixed zi-999    modal-dialog-scrollable modal-fullscreen bg-custom  top-0 start-0 @(show ? "" : "modal bg-dark") ' @onclick="@ToggleShowModel">
    <div class=" modal-dialog-xl w-100 "  @onclick="@ToggleShowModel">
        <div class="modal-content float-end  w-100  ">
            <div class=" p-2">
                <button class="btn-close float-end" @onclick="ToggleShowModel" type="submit" aria-label="Close-Button"></button>
            </div>
            <div class="position-relative">
                <div class="gradient-y-overlay-lg-white bg-img-start content-space-2" style="">
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-7 col-lg-8">
                                <small class="badge bg-success rounded-pill">Professional Diploma</small>
                                <h1>Statistical Quality Control & Quality Assurance</h1>
                                <p>General Requirements (30 credit)</p>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="d-flex gap-1">
                                            <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                            <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                            <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                            <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                            <img src="../assets/svg/illustrations/star.svg" alt="Review rating" width="16">
                                        </div>
                                        <div class="ms-1">
                                            <span class="fw-semi-bold text-dark me-1">4.91</span>
                                            <span>(1.5k+ reviews)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container content-space-t-md-2 position-md-absolute top-0 start-0 end-0">
                    <div class="row justify-content-end">
                        <div class="col-md-5 col-lg-4 position-relative zi-2 mb-7 mb-md-0">
                            <div id="stickyBlockStartPoint">
                                <div class="js-sticky-block">
                                    <div class="card">
                                        <div class="p-10 m-2 bg-img-start text-center   " style="background-image: url(./assets/img/380x360/img10.jpg);">
                                            <div class="p-10 m-4">
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="mb-3">
                                                <span class="card-title h2">EGP7000</span>
                                                <br />
                                                <span class="card-title h2">$1500</span>
                                                @*                      <span class="text-muted"><del>EGP15000</del></span>
                                                *@
                                            </div>
                                            <div class="d-grid mb-2">
                                                <a class="btn btn-primary btn-transition" href="/">Apply now</a>
                                            </div>
                                            <div class="text-center mb-4">
                                                <p class="card-text small">30-day money-back guarantee</p>
                                            </div>
                                            <h4 class="card-title">This course includes</h4>
                                            <ul class="list-unstyled list-py-1">
                                                <li><i class="bi-file-earmark-arrow-down nav-icon"></i> Downloadable resources</li>
                                                <li><i class="bi-phone nav-icon"></i> Access on mobile and Tablet</li>
                                                <li><i class="bi-award nav-icon"></i> Certificate of Completion</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container content-space-t-2 content-space-t-md-1">
                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <h3 class="mb-4">What you'll learn:</h3>

                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-checked list-checked-primary">
                                    <li class="list-checked-item">Learn to use Python professionally, learning both Python 2 and Python 3!</li>
                                    <li class="list-checked-item">Create games with Python, like Tic Tac Toe and Blackjack!</li>
                                    <li class="list-checked-item">Learn advanced Python features, like the collections module and how to work with timestamps!</li>
                                    <li class="list-checked-item">Learn to use Object Oriented Programming with classes!</li>
                                </ul>
                            </div>

                            <div class="col-lg-6">
                                <ul class="list-checked list-checked-primary">
                                    <li class="list-checked-item">Understand complex topics, like decorators.</li>
                                    <li class="list-checked-item">Understand how to use both the Jupyter Notebook and create .py files</li>
                                    <li class="list-checked-item">Get an understanding of how to create GUIs in the Jupyter Notebook system!</li>
                                    <li class="list-checked-item">Build a complete understanding of Python from the ground up!</li>
                                </ul>
                            </div>
                        </div>

                        <div class="border-top pt-7 mt-7">
                            <div class="row mb-4">
                                <div class="col-8">
                                    <h3 class="mb-0">Course content</h3>
                                </div>
                            </div>

                            <div class="accordion accordion-btn-icon-start">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="headingBasicsOne">
                                        <div class="accordion-button">
                                            <div class="col-8 flex-grow-1 ps-3">
                                                Course overview
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-top pt-7 mt-7">
                            <div class="mb-4">
                                <h3>Description</h3>
                            </div>
                            <p>Become a Python Programmer and learn one of employer's most requested skills of 2019!</p>
                            <p>This is the most comprehensive, yet straight-forward, course for the Python programming language on Udemy! Whether you have never programmed before, already know basic syntax, or want to learn about the advanced features of Python, this course is for you! In this course we will teach you Python 3. (Note, we also provide older Python 2 notes in case you need them)</p>
                            <div class="" id="collapseCourseDescriptionSection">
                                <p>With over 100 lectures and more than 20 hours of video this comprehensive course leaves no stone unturned! This course includes quizzes, tests, and homework assignments as well as 3 major projects to create a Python project portfolio!</p>
                                <p>This course will teach you Python in a practical manner, with every lecture comes a full coding screencast and a corresponding code notebook! Learn in whatever manner is best for you!</p>
                                <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                <p>We cover a wide variety of topics, including:</p>
                                <ul class="text-body pl-6">
                                    <li>Command Line Basics</li>
                                    <li>Installing Python</li>
                                    <li>Running Python Code</li>
                                    <li>Strings</li>
                                    <li>Lists&nbsp;</li>
                                    <li>Dictionaries</li>
                                    <li>Tuples</li>
                                    <li>Sets</li>
                                    <li>Number Data Types</li>
                                    <li>Print Formatting</li>
                                    <li>Functions</li>
                                    <li>Scope</li>
                                    <li>args/kwargs</li>
                                    <li>Built-in Functions</li>
                                    <li>Debugging and Error Handling</li>
                                    <li>Modules</li>
                                    <li>External Modules</li>
                                    <li>Object Oriented Programming</li>
                                    <li>Inheritance</li>
                                    <li>Polymorphism</li>
                                    <li>File I/O</li>
                                    <li>Advanced Methods</li>
                                    <li>Unit Tests</li>
                                    <li>and much more!</li>
                                </ul>
                                <p>This course comes with a 30 day money back guarantee! If you are not satisfied in any way, you'll get your money back. Plus you will keep access to the Notebooks as a thank you for trying out the course!</p>
                            </div>
                        </div>
                        <hr class="my-7">
                    </div>
                </div>
            </div>
            <div id="stickyBlockEndPoint"></div>
        </div>
    </div>
</div>
<button type="submit" class="btn btn-white btn-sm" @onclick="ToggleShowModel">  Program details </button>
@code {
    bool show = false;
    void ToggleShowModel() => show = !show;
}