@page "/login"
@page "/"
@inject WeatherForecastService S
@inject NavigationManager NM


<div class="container-fluid" >
	<div class="row mt-5 justify-content-center">
		<div class="col-lg-6 col-md-8 col-sm-12  card p-3 text-center" >
			<div class="row justify-content-center"> <h1>صفحة تسجيل الدخول</h1></div>
			<div class="row justify-content-center mt-2">
				<div class="col-3 mt-2"><label>اسم المستخدم</label></div>
				<div id="UserName" class="col-9"><input type="text" class="form-control"/></div>

			</div>
			<div class="row mt-2 justify-content-center">
				<div class="col-3 mt-2"><label>كلمة المرور</label></div>
				<div id="PassWord" class="col-9 "><input type="password" class="form-control"/></div>
			</div>
			<div class="row justify-content-center">
				

				<button id="Login" class="btn btn-primary mt-2 fw-bolder">تسجيل الدخول</button>
				
			</div>
			<div class="row mt-2 justify-content-center">
				<div class="col-4 "> <a href="">استرجاع كلمة المرور</a></div>
				|
				<div class="col-3 "><a href=""> مساعدة</a></div>
				|
				<div class="col-4 "><a role="button" class="user-select" @onclick='()=>NM.NavigateTo("Register")'>تسجيل</a></div>
				
			</div>

		</div>
	</div>

</div>

@code{

	        protected override void OnInitialized()
        {
 S.IsLogin = true;
  InvokeAsync(()=> StateHasChanged());
        }
}