@page "/Register"
@inject WeatherForecastService S



<div class="container-fluid">
	<div class="row justify-content-center">
		<h1 style="text-align: center; color: #080880; text-shadow: -9px 12px 7px #7d7d7d;">
			صفحة التسجيل
		</h1>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-9 col-md-12 col-sm-12 card">

			<InputRow Label="الأسم رباعي (باللغة العربية) ">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="الأسم رباعي (باللغة الانجليزية) ">
				<input type="text" class="form-control" />
			</InputRow>



			<InputRow Label="الجنسية">
				<select class="form-control" @bind="Nat">
					<option selected hidden value="">اختار الجنسية</option>
					<option value="1">مصري</option>
					<option value="2">اخرى</option>
				</select>
			</InputRow>

			@if (Nat is 2)
			{
				<InputRow Label="الجنسية ">
					<input type="text" class="form-control" />
				</InputRow>

				<InputRow Label="رقم جواز السفر">
				<input type="text" maxlength="14" minlength="14" class="form-control" />
			</InputRow>
			}else{
				<InputRow Label="الرقم القومى">
				<input type="text" maxlength="14" minlength="14" class="form-control" />
			</InputRow>
			}

			<InputRow Label="تاريخ الميلاد">
				<input type="date" class="form-control" />
			</InputRow>

			<InputRow Label="مكان الميلاد">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="الجنس">
				<select class="form-control" >
					<option selected hidden value="">اختار الجنس</option>
					<option value="1">ذكر</option>
					<option value="2">انثى</option>
				</select>
			</InputRow>

			<InputRow Label="مكان الإقامة">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="الوظيفة">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label=" اسم الشركه">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="رقم الهاتف (واتساب)">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="البريد الإلكتروني">
				<input type="email" class="form-control" />
			</InputRow>

			<InputRow Label="اخر مؤهل جامعي حصل عليه ">
				<select class="form-control" >
					<option selected hidden value="">اختار المؤهل</option>
					<option value="1">بكالوريوس</option>
					<option value="2">دبلومة</option>
					<option value="3">ماجيستير</option>
					<option value="4">دكتورا</option>
				</select>
			</InputRow>

			<InputRow Label="الكلية">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="الجامعة">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="التقدير العام">
				<input type="text" class="form-control" />
			</InputRow>

			<InputRow Label="الدرجة الأكاديمية المراد التسجيل فيها">
				<select class="form-control" >
					<option selected hidden value="">اختار الدرجة</option>
					<option value="1">دبلومة مهنى</option>
					<option value="2">ماجيستير مهنى</option>
					<option value="3">دكتورا مهنى</option>
				</select>
			</InputRow>

			<InputRow Label="التخصص الذي تريد الالتحاق به">
				<select class="form-control" >
					<option selected hidden value="">اختار التخصص</option>
					<option value="1">هندسة البرمجيات</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</InputRow>

			<InputRow Label="الصورة الشخصية (4*6)">
				<input type="file" accept="image/*" class="form-control" />
			</InputRow>

			<InputRow Label="شهادة الميلاد">
				<input type="file" accept="image/*" class="form-control" />
			</InputRow>

			<InputRow Label="صورة تحقيق الشخصية (وجه و ظهر)">
				<input type="file" multiple accept="image/*" class="form-control" />
			</InputRow>

			<InputRow Label="صور شهادات التخرج">
								<input type="file" multiple accept="image/*" class="form-control" />
			</InputRow>
			
			<InputRow >
			<button class="btn btn-info">ارسال</button>
			</InputRow>

			

			


		</div>
	</div>


</div>


@code {
	int? Nat { get; set; }
        protected override void OnInitialized()
        {
 S.IsLogin = true;
        }
}
 