@page "/Register"


<div class="container-fluid">
	<div class="row justify-content-center">
   <div class="col-10">
		<div class="row justify-content-center ">
			
				<div class="col-8">
		<input type="text" id="Name" class="form-control">
	</div>
	<div class="col-4">
		<label class="mt-2" for="Name">اللاسم</label>
	</div>
	
		</div>

		<div class="row justify-content-center ">
			
	    	<div class="col-8">
	    		<input type="date" name="BD" class="form-control">
	    	</div>
	    	<div class="col-4">
	    		<label class="mt-2" for="BD">تاريخ الميلاد</label>
	    	</div>
	
		</div>

		<div class="row justify-content-center ">
			
	    	<div class="col-8">
	    		<input type="text" name="ID" class="form-control">
	    	</div>
	    	<div class="col-4">
	    		<label class="mt-2" maxlength="14" minlength="14" for="ID">الرقم القومي</label>
	    	</div>
	
		</div>
		
		<div class="row justify-content-center ">
			
	    	<div class="col-8">
	    		<InputFile accept="image/*" multiple  name="ID" class="form-control"  excludeAcceptAllOption="true"/>
	    	</div>
	    	<div class="col-4">
	    		<label class="mt-2" for="ID">الشهادة</label>
	    	</div>
	
		</div>


   </div>
   </div>

	
</div>