<div class="col-lg-9">
    <div class="card">
        <div class="card-header border-bottom">
            <form class="input-group input-group-merge">
                <div class="input-group-prepend input-group-text">
                    <i class="bi-search"></i>
                </div>
                <input type="search" class="form-control" placeholder="Search Study Programs" aria-label="Search Programs">
            </form>
        </div>
        <div class="card-body">
            <div class="js-nav-scroller hs-nav-scroller-horizontal">
                <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="bi-chevron-left"></i>
                    </a>
                </span>
                <span class="hs-nav-scroller-arrow-next" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="bi-chevron-right"></i>
                    </a>
                </span>
            </div>
            <div class="tab-content" id="accountOrdersTabContent">
                <div class="tab-pane fade show active" id="accountOrdersOne" role="tabpanel" aria-labelledby="accountOrdersOne-tab">
                    <div class="d-sm-flex align-items-sm-center mb-5">
                        <div class="tom-select-custom">
                            <select class="js-select form-select form-select-sm">
                                <option value="last 30 days">Computer Science</option>
                                <option value="past 6 months" selected>Infromation technology</option>
                                <option value="past 6 months" selected>Business adminstration</option>
                                <option value="2019">Energy Engineering</option>
                            </select>
                        </div>
                        <div class="tom-select-custom">
                            <select class="js-select form-select form-select-sm">
                                <option value="last 30 days">PHD</option>
                                <option value="past 6 months" selected>Master</option>
                                <option value="past 6 months" selected>Diploma</option>
                                <option value="2019">Courses</option>
                            </select>
                        </div>
                        <div class="tom-select-custom">
                            <select class="js-select form-select form-select-sm">
                                <option value="last 30 days">Acadmic</option>
                                <option value="past 6 months" selected>professional</option>
                                <option value="2019">Courses</option>
                            </select>
                        </div>
                        <div class="tom-select-custom">
                            <select class="js-select form-select form-select-sm">
                                <option value="last 30 days">Software engineering</option>
                                <option value="past 6 months" selected>Project managment</option>
                                <option value="2019">Webdesign</option>
                                <option value="past 6 months" selected>Project managment</option>
                            </select>
                        </div>
                    </div>
                    <ul class="list-unstyled mb-5">
                        <li class="card card-bordered shadow-none mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Cost</small>
                                        <small class="text-dark fw-semi-bold">7000EGP</small>
                                        <small class="text-dark fw-semi-bold card-subtitle">$1500</small>
                                    </div>
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Program name</small>
                                        <small class="text-dark fw-semi-bold">Master in Software engineering</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Program ID</small>
                                        <small class="text-dark fw-semi-bold">456853648</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Start date</small>
                                        <small class="text-dark fw-semi-bold">30 April, 2023</small>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row gx-2">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img class="img-fluid" src="./assets/img/380x360/img10.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2">
                                            <ProgramDetails />
                                            <a class="btn btn-white btn-sm" href="/">
                                                <i class="bi-arrow-counterclockwise small me-2"></i> Add to wish list
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="account-Application.html">Apply now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card card-bordered shadow-none mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Cost</small>
                                        <small class="text-dark fw-semi-bold">7000EGP</small>
                                        <small class="text-dark fw-semi-bold card-subtitle">$1500</small>
                                    </div>
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Program name</small>
                                        <small class="text-dark fw-semi-bold">Master in Software engineering</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Program ID</small>
                                        <small class="text-dark fw-semi-bold">456853648</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Start date</small>
                                        <small class="text-dark fw-semi-bold">30 April, 2023</small>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row gx-2">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img class="img-fluid" src="./assets/img/380x360/img10.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2">
                                            <ProgramDetails />
                                            <a class="btn btn-white btn-sm" href="/">
                                                <i class="bi-arrow-counterclockwise small me-2"></i> Add to wish list
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="/">Apply now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="card card-bordered shadow-none mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Cost</small>
                                        <small class="text-dark fw-semi-bold">7000EGP</small>
                                        <small class="text-dark fw-semi-bold card-subtitle">$1500</small>

                                    </div>
                                    <div class="col-6 col-md mb-3 mb-md-0">
                                        <small class="card-subtitle mb-0">Program name</small>
                                        <small class="text-dark fw-semi-bold">Master in Software engineering</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Program ID</small>
                                        <small class="text-dark fw-semi-bold">456853648</small>
                                    </div>
                                    <div class="col-6 col-md">
                                        <small class="card-subtitle mb-0">Start date</small>
                                        <small class="text-dark fw-semi-bold">30 April, 2023</small>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row gx-2">
                                            <div class="col">
                                            </div>
                                            <div class="col">
                                                <img class="img-fluid" src="./assets/img/380x360/img10.jpg" alt="Image Description">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-grid gap-2">
                                            <ProgramDetails />
                                            <a class="btn btn-white btn-sm" href="/">
                                                <i class="bi-arrow-counterclockwise small me-2"></i> Add to wish list
                                            </a>
                                            <a class="btn btn-primary btn-sm" href="/">Apply now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="/" aria-label="Previous">Prev</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/">1</a></li>
                            <li class="page-item"><a class="page-link" href="/">2</a></li>
                            <li class="page-item disabled"><a class="page-link" href="/">...</a></li>
                            <li class="page-item"><a class="page-link" href="/">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="/" aria-label="Next">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane fade" id="accountOrdersTwo" role="tabpanel" aria-labelledby="accountOrdersTwo-tab">
                    <div class="text-center content-space-1">
                        <img class="avatar avatar-xl mb-3" src="./assets/svg/illustrations/empty-state-no-data.svg" alt="Image Description">
                        <p class="card-text">No data to show</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="accountOrdersThree" role="tabpanel" aria-labelledby="accountOrdersThree-tab">
                    <div class="text-center content-space-1">
                        <img class="avatar avatar-xl mb-3" src="./assets/svg/illustrations/empty-state-no-data.svg" alt="Image Description">
                        <p class="card-text">No data to show</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    public EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new(model);
        editContext?.SetFieldCssClassProvider(new CustomFieldClassProvider());
        WFS.OnChange += StateHasChanged;

    }
    public StudentLogin model { get; set; } = new();
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }

    void OnClick(MouseEventArgs e, string page)
    {
        WFS.Page = page;
        OnClickCallback.InvokeAsync(e);
    }
    async void stateHasChanged()
    {

        await BrowserStorage.SetAsync("Page", WFS.Page ?? "Login");
        StateHasChanged();
    }
    }