
		<div class="row justify-content-center mt-2">
			
	    	<div class="col-lg-3 col-md-4 col-sm-6" >
	    		<label class="mt-2" >@Label</label>
	    	</div>
	    	<div class="col-lg-9 col-md-8 col-sm-6">
                @ChildContent
	    	</div>
	
		</div>

        @code{
            [Parameter] public RenderFragment ChildContent { get; set; }
            [Parameter] public string Label {get;set;}
        }