@inherits LayoutComponentBase
@inject WeatherForecastService S
<PageTitle>Gadwal</PageTitle>

 
<div class="page">
@if(!S.IsLogin)
{
 <div class="sidebar">
        <NavMenu />
    </div>
}
 
    <main>
    

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    
}