    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url(./assets/svg/components/wave-pattern-light.svg);">
          <div class="flex-grow-1 p-5">
            <figure class="text-center">
              <blockquote class="blockquote blockquote-light">“ We are doing our best everyday to make the app easy to use for students and doctors”</blockquote>

              <figcaption class="blockquote-footer blockquote-light">
                <div class="mb-3">
                  <img class="avatar avatar-circle" src="./assets/img/160x160/img9.jpg" alt="Image Description">
                </div>
                Jacqueline Rizq
                <span class="blockquote-footer-source">Project Manager | StudnetPlus</span>
              </figcaption>        
            </figure>
            <div class="position-absolute start-0 end-0 bottom-0 text-center p-5">
              <div class="row justify-content-center">
                <div class="col text-center py-3">
                  <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/microsoft.svg" alt="Logo">
                </div>
                <div class="col text-center py-3">
                  <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/microsoft_teams.svg" alt="Logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>